asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.2.2
idna==3.10
pillow==11.2.1
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tenacity==9.1.2
urllib3==2.4.0
